.pill
  width inherit 
  padding 0 .6rem
  color black 
  font-size .8rem
  letter-spacing .05rem
  font-weight 800
  font-family mono-font 
  background-color yellow 
  border-radius 5px 
  margin-bottom .3rem
  margin-right .3rem
